# Global Configurations
SPORTS_PULSE_LEVEL_LOGIN=DEBUG
SPRING_PROFILES_ACTIVE=dev

# Database Configurations
SPORTS_PULSE_DATASOURCE_USERNAME=sports_pulse_user
SPORTS_PULSE_DATASOURCE_PASSWORD=sports_pulse_password

# JPA Configurations
SPORTS_PULSE_JPA_DDL=update
SPORTS_PULSE_JPA_SHOW_SQL=true

# Swagger Configurations
SWAGGER_UI_DOCUMENTATION_ENABLED=true

# Sports Pulse Service Auth
SPORTS_PULSE_DATASOURCE_URL_AUTH=jdbc:postgresql://localhost:5432/sports_pulse_auth_db
SPORTS_PULSE_DATASOURCE_DB_AUTH=sports_pulse_auth_db

# Sports Pulse Service Notifications
SPORTS_PULSE_DATASOURCE_URL_NOIFICATIONS=jdbc:postgresql://localhost:5432/sports_pulse_notifications_db
SPORTS_PULSE_DATASOURCE_DB_NOTIFICATIONS=sports_pulse_notifications_db

# Sports Pulse Service Gateway
SPORTS_PULSE_REDIS_HOST=localhost
SPORTS_PULSE_REDIS_PORT=6379
SPORTS_PULSE_GATEWAY_CONNECT_TIMEOUT=5000
SPORTS_PULSE_GATEWAY_RESPONSE_TIMEOUT=5000

# Sports Pulse URL Services
SPORTS_PULSE_AUTH_SERVICE_URL=http://localhost:8081
SPORTS_PULSE_LEAGUES_SERVICE_URL=http://localhost:8082
SPORTS_PULSE_TEAMS_SERVICE_URL=http://localhost:8083
SPORTS_PULSE_FIXTURES_SERVICE_URL=http://localhost:8085
SPORTS_PULSE_STANDINGS_SERVICE_URL=http://localhost:8086
SPORTS_PULSE_NOTIFICATIONS_SERVICE_URL=http://localhost:8088
SPORTS_PULSE_DASHBOARD_SERVICE_URL=http://localhost:8089