# Global Configurations
SPORTS_PULSE_LEVEL_LOGIN=DEBUG
SPRING_PROFILES_ACTIVE=dev
SPORTS_PULSE_INTERNAL_API_KEY=b7dc94658f191e32a5f0228b6776f313e34dc4ca048961ce5d408f9553cb0c11

# Database Configurations
SPORTS_PULSE_DATASOURCE_USERNAME=sports_pulse_user
SPORTS_PULSE_DATASOURCE_PASSWORD=sports_pulse_password

# JPA Configurations
SPORTS_PULSE_JPA_DDL=update
SPORTS_PULSE_JPA_SHOW_SQL=true

# Swagger Configurations
SWAGGER_UI_DOCUMENTATION_ENABLED=true

# Sports Pulse Service Auth
SPORTS_PULSE_DATASOURCE_URL_AUTH=jdbc:postgresql://localhost:5432/sports_pulse_auth_db
SPORTS_PULSE_DATASOURCE_DB_AUTH=sports_pulse_auth_db
SPORTS_PULSE_JWT_SECRET=qZFeQgkc/cIUrFxHZRdVVgJvI6+9O/mysoBdxeq6s94=
SPORTS_PULSE_JWT_EXPIRATION=3600
SPORTS_PULSE_TOKEN_TYPE=Bearer

# Sports Pulse Service Notifications
SPORTS_PULSE_DATASOURCE_URL_NOIFICATIONS=jdbc:postgresql://localhost:5432/sports_pulse_notifications_db
SPORTS_PULSE_DATASOURCE_DB_NOTIFICATIONS=sports_pulse_notifications_db

# Base URL for requests to the API-Football API (v3).
SPORT_PULSE_API_BASE_URL=https://v3.football.api-sports.io

# RapidAPI Configuration (API-Football)
RAPIDAPI_KEY=your_api_key_here

# Sports Pulse Service Gateway
SPORTS_PULSE_REDIS_HOST=localhost
SPORTS_PULSE_REDIS_PORT=6379
SPORTS_PULSE_GATEWAY_CONNECT_TIMEOUT=5000
SPORTS_PULSE_GATEWAY_RESPONSE_TIMEOUT=5000
SPORTS_PULSE_GATEWAY_ALLOWED_METHODS=GET,POST,PUT,DELETE
SPORTS_PULSE_GATEWAY_ALLOWED_ORIGINS=http://localhost:3000
SPORTS_PULSE_GATEWAY_MAX_AGE=3600

# Sports Pulse URL Services
SPORTS_PULSE_AUTH_SERVICE_URL=http://localhost:8081
SPORTS_PULSE_LEAGUES_SERVICE_URL=http://localhost:8082
SPORTS_PULSE_TEAMS_SERVICE_URL=http://localhost:8083
SPORTS_PULSE_FIXTURES_SERVICE_URL=http://localhost:8085
SPORTS_PULSE_STANDINGS_SERVICE_URL=http://localhost:8086
SPORTS_PULSE_NOTIFICATIONS_SERVICE_URL=http://localhost:8088
SPORTS_PULSE_DASHBOARD_SERVICE_URL=http://localhost:8089